/*-----------------------------Página Index--------------------------*/
body{
    height: 100vh;
    margin: 0px;
    background-color: #F0F0F0;    
}

footer{
    position: absolute;
    bottom: 0;
}

/*Header da página principal*/
.TopHeader{
    background-color: #162a47;
    height: 75px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-bottom: 4px solid #a5a59e;
    text-align: center;     
}

.TopHeaderLogo{
    margin-top: 7px;
    height: 65px;
    width: 65px;    
    text-align: center;    
}

.Registrar{    
    position: absolute;
    right: 245px;
    padding: 5px;    
    border-radius: 10px;
    background-color: #7380ec;  
    border: 5px solid #7380ec;
    color: white;        
    transition: .3s;
    cursor: pointer;
    text-decoration: none;
}

.Registrar:hover{
    background-color: #5963b7;  
    border: 5px solid #5963b7;
    color: white;    
}

.Entrar{    
    position: absolute;
    right: 325px;
    padding: 5px;    
    border-radius: 10px;
    background-color: #7380ec;  
    border: 5px solid #7380ec;
    color: white;        
    transition: .3s;
    cursor: pointer;
    text-decoration: none;
}

.Entrar:hover{
    background-color: #5963b7;  
    border: 5px solid #5963b7;
    color: white;    
}

/*Fim do Header da página principal*/

/*Body da página principal*/
.WelcomeBlock{
    margin-top: 25px;
    text-align: center;
}
.WelcomeText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}
.WelcomeFollowUp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.midle{
    margin-top: 30px;   
    width: 100%;
    height: 400px;
    display: flex;
}

.SloganImage1{
    margin-left: 12%;    
    height: 378px;
    width: 410px;
    border: 12px solid #123973;
    border-radius: 10px;
    display: inline-block;
}

.SloganImage2{
    margin-left: 100px;
    height: 378px;
    width: 410px;
    border: 12px solid #123973;
    border-radius: 10px;
    display: inline-block;
}

.Slogan{
    width: 400px;
    font-size: 23px;
    font-family: sans-serif;
    position: relative;
    top: 20px;
    left: 70px;
}
/*Fim do body da página principal*/

/*Começo do Footer*/
.DivFooter{
    background-color: #162a47;
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
    color: rgb(189, 187, 187);
    display: flex;
}

.ListasFooter{
    margin-top: 23px;
    display: inline-block;
    width: 124px;
    list-style-type: none;
    font-size: 18px;
}

.LogoFooter{
    margin-top: 25px;
    margin-left: 200px;
    height: 70px;

}

a {
    text-decoration: none;
}

.itens{
    margin-bottom: 5px;    
}

.Pidgeons{
    color: #d1c9c9;
}
/*Fim do Footer*/

/* Janela de Login Register */
#popupContainer {    
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px;
    width: 350px;
    height: 450px;
    background: linear-gradient(to bottom, #babebe, rgb(70, 90, 151));    
    border-radius: 10px;    
    box-shadow: 0 0 20px 0 darkgrey;  
    box-sizing: border-box;
    z-index: 1000; /* Garante que a janela de pop-up esteja acima do conteúdo principal */
    flex-direction: column;
    align-items: center;
    overflow: hidden;        
    margin: 0;
}


#popupContainer.visible{
    display: flex;
}

#popupContent {
    
}

form {
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 380px;
}

#signin {
    left: 25px;
}

#signup {
    left: 450px;
}

li.signinItem{
    height: 3rem;
}

li.signupItem{
    height: 3rem;
}


i{
    position: absolute;
    left: 7px;
    margin-top: 7px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.buttonsForm {
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 darkblue; 
}

.buttonsForm button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 29px;
}

.btnColor {
    position: absolute;
    width: 108px;
    height: 100%;
    background: linear-gradient(to right, #111e88, #5c65b8);
    border-radius: 30px;
    transition: .3s;
}

.divCheck {
    margin: 10px 0 0 5px;
    width: 80%;
    font-size: 13px;
}

.btnSignin{        
    position: absolute;
    bottom: 7.7rem;
    transition: all 300ms ease;
}

.btnSignin:hover{
    background: #636fdd;    
}

.btnSignup{        
    position: absolute;
    bottom: 7.7rem;
    transition: all 300ms ease;
}

.goBack{
    position: absolute;
    bottom: 6rem;
    transition: all 300ms ease;
    margin-top: 40px;
    font-size: 11px;
    border: none;
    color: white;
    background-color: #7380ec;
    outline: none;
    padding: 6px 13px 6px 13px;
    border-radius: 30px;
    margin-left: 46%;    
}

.goBack:hover{
    background: #636fdd;    
}

.btnSignup:hover{
    background: #636fdd;    
}

#btnSignin{
    font-weight: 500;
}

#btnSignup{
    font-weight: 500;
}

input[type="text"], input[type="password"] {
    border: none;    
    border-radius: 60px;
    padding: 8px 0  8px 35px;
    outline: none;
    width: 88%;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}

button[type="submit"] {
    background: #7380ec;
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
}

/* Estilo para o botão de fechar a janela de pop-up */
#closePopupButton {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

#openPopupButton{
    margin-top: 25px;    
}

#openPopupButton1{
    margin-top: 25px;    
}

