@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville:ital@1&family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;    
}

.TopHeader{
    position: fixed;
    top: 0;
    background-color: #162a47;
    height: 75px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-bottom: 4px solid #a5a59e;
    text-align: center;     
}

.TopHeaderLogo{
    margin-top: 7px;
    height: 65px;
    width: 65px;    
    text-align: center;    
}

body {    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #F0F0F0;   
}

.container {
    background: linear-gradient(to bottom, #babebe, rgb(70, 90, 151));
    padding: 6px;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 darkgrey;    
}

form {
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 400px;
}

.buttonsForm {
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 darkblue;
}

.buttonsForm button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 29px;
}

.btnColor {
    position: absolute;
    width: 108px;
    height: 100%;
    background: linear-gradient(to right, #111e88, #5c65b8);
    border-radius: 30px;
    transition: .3s;
}

input[type="text"], input[type="password"] {
    border: none;    
    border-radius: 60px;
    padding: 8px 0  8px 35px;
    outline: none;
    width: 100%;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}

button[type="submit"] {
    background: #7380ec;
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
}

.divCheck {
    margin: 10px 0 0 5px;
    width: 80%;
    font-size: 13px;
}

#signin {
    left: 25px;
}

#signup {
    left: 450px;
}

ul{
    list-style: none;
}

li.signinItem{
    height: 3rem;
}

li.signupItem{
    height: 3rem;
}

i{
    position: absolute;
    left: 7px;
    margin-top: 10px;
}

.btnSignin{        
    position: absolute;
    bottom: 7rem;
    transition: all 300ms ease;
}

.btnSignin:hover{
    background: #636fdd;    
}

.btnSignup{        
    position: absolute;
    bottom: 7rem;
    transition: all 300ms ease;
}

.btnSignup:hover{
    background: #636fdd;    
}

#btnSignin{
    font-weight: 500;
}

#btnSignup{
    font-weight: 500;
}



